#backlog{
    border : 2px solid black;
    border-radius: 10px;
    
}

.backlogSprint{
    border : 2px solid green;
    border-radius: 10px;
}

.sprint{
    border : 2px solid blue;
    border-radius: 10px;
}

.task{
    border : 2px solid red;
    border-radius: 10px;
}